@model Credential
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-6">
        <h2>Employee Login</h2>
        <form asp-action="EmployeeLogin" asp-controller="Credentials" method="post">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" required>
            <br />
            <br />
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" required type="password" id="EmployeePasswordInput">
            <input type="checkbox" id="show-employee-password" onclick="AlterPassword('EmployeePasswordInput')" />
            <label for="show-employee-password">Show password</label>
            <br />
            <br />
            <input type="submit" value="Login as Employee" class="btn btn-success">
            @if (TempData["EmployeeLoginError"] != null)
            {
                <div class="text-danger">@TempData["EmployeeLoginError"]</div>
            }
        </form>
    </div>
    <div class="col-md-6">
        <h2>Farmer Login</h2>
        <form asp-action="FarmerLogin" asp-controller="Credentials" method="post">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" required>
            <br />
            <br />
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" required type="password" id="FarmerPasswordInput">
            <input type="checkbox" id="show-farmer-password" onclick="AlterPassword('FarmerPasswordInput')" />
            <label for="show-farmer-password">Show password</label>
            <br />
            <br />
            <input type="submit" value="Login as Farmer" class="btn btn-success">
            @if (TempData["FarmerLoginError"] != null)
            {
                <div class="text-danger">@TempData["FarmerLoginError"]</div>
            }
        </form>
    </div>
</div>